
<body>
 <div class="topnav">
  <a href="#home">Home</a>
  <a href="/add">Agregar producto al inventario</a>
  <a href="/verify">Verificar productos del inventario</a>
  <a class="active"  href="/venta">Vender</a>
  <a href="/login">Cerrar sesion</a>
</div> 

<h1>Venta</h1>

</body>


