<body>




 <div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="/add">Agregar producto al inventario</a>
  <a href="/verify">Verificar productos del inventario</a>
  <a href="/users/sign_in"><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete %></a>
</div> 

<h1>Home</h1>
</body>