<!DOCTYPE html>
	
	<body>
		<h1>INVENTARIO ONLINE</h1>

		<h2>
			quienes somos?
		</h2>
		<p>
			Somos una empresa que se dedica a la gestion de inventario dando facilidades al usuario para que pueda llevar un mejor manejo de su empresa. 
		</p>
		<h2>
			nuestra mision
		</h2>
		<p>
			Nuestra mision es hacer que el usuario pueda tomar mejores deciciones para su negocio o empresa.
		</p>
		<h2>
			nuestros objetivos
		</h2>
		<p>
			dar una facil visualizacion de los productos del usuario
			que el usuario tenga un mejor conocimiento de sus ventas realizadas
			
		</p>
	</body>
</html>
